.c-site-header {
  background-color: $primaryColor;
  color: #fff;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__logo {
    margin-right: 30px;

    @media (min-width: 1024px) {
      margin-right: 15px;
    }
  }

  &__logo-link {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    height: 70px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }

    img {
      align-self: center;
    }
  }
  
  &__logo-text-learn {
    font-weight: 200;
  }
  
  &__logo-text-enough {
    font-weight: 700;
  }  

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;

    ul:not(.c-dropdown-menu) {
      display: flex;
    }

    ul.c-menu a {
      color: #b2bbbd;
      line-height: 70px;
      padding: 0 15px;
      display: block;
      transition: 0.2s;

      &:hover,
      &:focus {
        color: #fff;
        text-decoration: none;
      }
  
      &.router-link-exact-active {
        color: #fff;
      }      
    }

    li.active > a {
      color: #fff;
    }
    
    ul.c-dropdown-menu {
      padding-left: 1em;

      @media (min-width: 1024px) {
        padding-left: 0;
        position: absolute;
        min-width: 220px;
        background-color: darken($primaryColor, 5);
        padding: 10px 0;
        top: 100%;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.15s;
      }

      &.left {
        @media (min-width: 1024px) {
          left: 0;
        }
      }

      &.right {
        @media (min-width: 1024px) {
          right: 0;
        }
      }

      li {
        margin: 0;
        padding: 0;

        a {
          font-size: .9em;
          white-space: nowrap;
          line-height: 1.3;
          padding: 10px 15px;
        }
      }
    }    

    li.c-dropdown-menu-wrapper {
      position: relative;
      transition: background-color 0.15s;
    }

    li.c-dropdown-menu-wrapper:hover {
      @media (min-width: 1024px) {
        background-color: darken($primaryColor, 5);
      }

      & > a {
        color: #fff;
      }

      .c-dropdown-menu {
        @media (min-width: 1024px) {
          transform: scale(1, 1);
        }
      }
    }

    .toggle-mobile-nav {
      border: 2px solid #b2bbbd;
      width: 40px;
      height: 34px;
      line-height: 30px;
      font-size: 24px;
      border-radius: 4px;
      background-color: transparent;
      color: #b2bbbd;
      cursor: pointer;
      transition: 0.3s ease;
      display: none;
      position: relative;

      &::after {
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        font-size: 19px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.active::after {
        content: "\f00d";
      }

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        color: #fff;
        border-color: #fff;
      }
    }

    @media (max-width: 1023px) {
      .toggle-mobile-nav {
        display: block;
      }

      ul.c-menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        background-color: $primaryColor;
        padding: 15px 0;
        border-top: 1px solid #333;
        height: auto;
        max-height: 50vh;
        overflow-y: auto;
        z-index: 9;

        @include custom-scrollbar-styles;

        li {
          margin: 0;

          a {
            line-height: 1;
            padding: 10px 15px;
          }

          &.has-dropdown ul.dropdown li a {
            padding-left: 30px;
          }
        }

        &.show {
          display: block;
        }
      }
    }
  }
}
