ul.c-sidenav:not(.c-dropdown-menu) {
  width: 100%;
  max-width: 300px;
  background-color: transparent;
  overflow-y: auto;
  // border-right: 1px solid #e0e0e0;
  height: calc(100vh - 70px);
  position: sticky;
  top: 70px;

  margin: 0;
  padding: 16px 0;
  list-style: none;

  @media (min-width: 768px) {
    padding: 32px 0;
  }  

  @include custom-scrollbar-styles;

  @media (max-width: 1023px) {
    width: 30rem;
    position: fixed;
    top: 7rem;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: .2s;
  }

  &--is-open {
    transform: translateX(0);
  }

  li:hover a,
  li.active a {
    color: #000;
    background-color: #e0e0e0;
  }

  li.active a {
    font-weight: bold;
  }

  li a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: .9em;
    padding: 8px 16px;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
    }
  }
}

.o-toggle-sidenav {
  display: none;

  @media (max-width: 1023px) {
    display: block;
  }
}

.o-close-sidenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(#c7254e, .8);
  color: #fff;
  transition: .2s;
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    background-color: #c7254e;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}