.c-table-responsive {
  overflow-y: hidden;
  overflow-x: auto;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.c-table {
  border: 1px solid #e0e0e0;
  border-collapse: collapse;
  width: 100%;

  caption {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 10px;
  }

  th {
    text-transform: uppercase;
    font-weight: 700;
  }

  th,
  td {
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    text-align: left;
  }

  thead,
  tr.info {
    background-color: #f0f8ff;
  }

  tbody {
    tr:not(.info):nth-of-type(odd) {
      background-color: #f9f9f9;
    }

    tr:not(.info):hover {
      background-color: #f5f5f5;
    }
  }

  .info td,
  thead th {
    text-align: left;
    text-transform: uppercase;
  }

  thead th {
    font-weight: 700;
  }
}