.u-text-color-2 {
  color: #303030;
}

.u-text-color-alt {
  color: #313131;
}

.u-color-white {
  color: #fff;
}

.u-color-maroon {
  color: #800d07;
}

.u-color-primary {
  color: $primaryColor;
}

.u-color-secondary {
  color: $secondaryColor;
}

.u-bg-white {
  background-color: #fff;
}

.u-bg-primary {
  background-color: $primaryColor;
}

.u-bg-secondary {
  background-color: $secondaryColor;
}

.u-bg-light-gray {
  background-color: #f8f8fc;
}

.u-color-red {
  color: red;
}