.u-p-auto {
  padding: auto;
}

// padding-top

.u-pt-auto {
  padding-top: auto;
}

.u-pt-0 {
  padding-top: 0;
}

.u-pt-5 {
  padding-top: 5px;
}

.u-pt-10 {
  padding-top: 10px;
}

.u-pt-15 {
  padding-top: 15px;
}

.u-pt-20 {
  padding-top: 20px;
}

.u-pt-30 {
  padding-top: 30px;
}

.u-pt-40 {
  padding-top: 40px;
}

.u-pt-50 {
  padding-top: 50px;
}

.u-pt-60 {
  padding-top: 60px;
}

.u-pt-70 {
  padding-top: 70px;
}

.u-pt-80 {
  padding-top: 80px;
}

.u-pt-90 {
  padding-top: 90px;
}

.u-pt-100 {
  padding-top: 100px;
}

// padding-right

.u-pr-0 {
  padding-right: 0;
}

.u-pr-auto {
  padding-right: auto;
}

.u-pr-5 {
  padding-right: 5px;
}

.u-pr-10 {
  padding-right: 10px;
}

.u-pr-15 {
  padding-right: 15px;
}

.u-pr-20 {
  padding-right: 20px;
}

.u-pr-30 {
  padding-right: 30px;
}

.u-pr-40 {
  padding-right: 40px;
}

.u-pr-50 {
  padding-right: 50px;
}

.u-pr-60 {
  padding-right: 60px;
}

.u-pr-70 {
  padding-right: 70px;
}

.u-pr-80 {
  padding-right: 80px;
}

.u-pr-90 {
  padding-right: 90px;
}

.u-pr-100 {
  padding-right: 100px;
}

// padding-bottom

.u-pb-0 {
  padding-bottom: 0;
}

.u-pb-auto {
  padding-bottom: auto;
}

.u-pb-5 {
  padding-bottom: 5px;
}

.u-pb-10 {
  padding-bottom: 10px;
}

.u-pb-15 {
  padding-bottom: 15px;
}

.u-pb-20 {
  padding-bottom: 20px;
}

.u-pb-25 {
  padding-bottom: 25px;
}

.u-pb-30 {
  padding-bottom: 30px;
}

.u-pb-35 {
  padding-bottom: 35px;
}

.u-pb-40 {
  padding-bottom: 40px;
}

.u-pb-50 {
  padding-bottom: 50px;
}

.u-pb-60 {
  padding-bottom: 60px;
}

.u-pb-65 {
  padding-bottom: 65px;
}

.u-pb-70 {
  padding-bottom: 70px;
}

.u-pb-80 {
  padding-bottom: 80px;
}

.u-pb-90 {
  padding-bottom: 90px;
}

.u-pb-100 {
  padding-bottom: 100px;
}

// padding-left

.u-pl-0 {
  padding-left: 0;
}

.u-pl-auto {
  padding-left: auto;
}

.u-pl-5 {
  padding-left: 5px;
}

.u-pl-10 {
  padding-left: 10px;
}

.u-pl-15 {
  padding-left: 15px;
}

.u-pl-20 {
  padding-left: 20px;
}

.u-pl-30 {
  padding-left: 30px;
}

.u-pl-40 {
  padding-left: 40px;
}

.u-pl-50 {
  padding-left: 50px;
}

.u-pl-60 {
  padding-left: 60px;
}

.u-pl-70 {
  padding-left: 70px;
}

.u-pl-80 {
  padding-left: 80px;
}

.u-pl-90 {
  padding-left: 90px;
}

.u-pl-100 {
  padding-left: 100px;
}