@import './margin';
@import './padding';
@import './flex-helpers';
@import './text-helpers';
@import './colors';
@import './border';
@import './misc';
@import './position';
@import './display';

.u-section-padding {
  padding: 60px 0;
}

.u-bg-gray {
  background-color: #edeff0;
}

.u-fill-viewport-gap {
  min-height: calc(100vh - 70px);
}