body {
  padding-top: 70px;
}

.site-main {
  background-color: #edeff0;
}

blockquote {
  border-left: 5px solid #000;
  margin: 0;
  padding: 15px 15px 15px 30px;
  background-color: #fff;
  box-shadow: $boxShadow;
  border-radius: 0 4px 4px 0;
}

#back-to-top {
  position: fixed;
  bottom: 85px;
  right: 15px;
  padding: 12px 16px;
  background-color: $primaryColor;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  font: normal 400 26px/1 $nunito;
  text-decoration: none;
  transition: 0.15s ease;
  opacity: 0;
  visibility: hidden;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: darken($primaryColor, 5);
  }
}

code,
code.inline {
  font-size: 20px;
  color: #c7254e;
  background-color: #f9f2f4;
  padding: 2px 4px;
  border-radius: 4px;
  white-space: nowrap;
}
