body {
  font: 400 1.8rem/1.6 $nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: 700 4.2rem/1.2 $nunito;
}

h2 {
  font: 700 3rem/1.2 $nunito;
}

h3 {
  font: 700 2.4rem/1.3 $nunito;
}

h4 {
  font: 700 2.2rem/1.3 $nunito;
}

h5 {
  font: 700 2rem/1.3 $nunito;
}

h6 {
  font: 700 1.8rem/1.4 $nunito;
}