body {
  font: 400 1.8rem/1.6 $nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: 700 42px/48px $nunito;
}

h2 {
  font: 700 30px/36px $nunito;
}

h3 {
  font: 700 24px/30px $nunito;
}

h4 {
  font: 700 20px/26px $nunito;
}